# Examining Racial Discrimination in the US Job Market

### Background
Racial discrimination continues to be pervasive in cultures throughout the world. Researchers examined the level of racial discrimination in the United States labor market by randomly assigning identical résumés to black-sounding or white-sounding names and observing the impact on requests for interviews from employers.

### Data
In the dataset provided, each row represents a resume. The 'race' column has two values, 'b' and 'w', indicating black-sounding and white-sounding. The column 'call' has two values, 1 and 0, indicating whether the resume received a call from employers or not.

Note that the 'b' and 'w' values in race are assigned randomly to the resumes when presented to the employer.

<div class="span5 alert alert-info">
### Exercises
You will perform a statistical analysis to establish whether race has a significant impact on the rate of callbacks for resumes.

Answer the following questions **in this notebook below and submit to your Github account**. 

   1. What test is appropriate for this problem? Does CLT apply?
   2. What are the null and alternate hypotheses?
   3. Compute margin of error, confidence interval, and p-value.
   4. Write a story describing the statistical significance in the context or the original problem.
   5. Does your analysis mean that race/name is the most important factor in callback success? Why or why not? If not, how would you amend your analysis?

You can include written notes in notebook cells using Markdown: 
   - In the control panel at the top, choose Cell > Cell Type > Markdown
   - Markdown syntax: http://nestacms.com/docs/creating-content/markdown-cheat-sheet


#### Resources
+ Experiment information and data source: http://www.povertyactionlab.org/evaluation/discrimination-job-market-united-states
+ Scipy statistical methods: http://docs.scipy.org/doc/scipy/reference/stats.html 
+ Markdown syntax: http://nestacms.com/docs/creating-content/markdown-cheat-sheet
</div>
****

In [31]:
import pandas as pd
import numpy as np
from scipy import stats
from __future__ import division

In [32]:
data = pd.io.stata.read_stata('data/us_job_market_discrimination.dta')

In [33]:
data.tail()

,id,ad,education,ofjobs,yearsexp,honors,volunteer,military,empholes,occupspecific,...,compreq,orgreq,manuf,transcom,bankreal,trade,busservice,othservice,missind,ownership
4865,b,99,3,2,1,0,0,0,1,313,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,Private
4866,a,99b,4,4,6,0,0,0,0,285,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,
4867,a,99b,4,6,8,0,1,0,0,21,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,
4868,a,99b,4,4,2,0,1,1,0,267,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,
4869,a,99b,4,3,7,0,0,0,1,274,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,

# 1. What test is appropriate for this problem? Does CLT apply?

### A two-sample hypothesis significance test (using a Z score). The data appears to full under conditions forthe CLT to apply.

# 2. What are the null and alternate hypotheses?

The Null Hypothesis is that there will be no significant difference between call backs for the white-sounding names versus the black-sounding names. The Alternate Hypothesis is that white-sounding names will have significantly more call backs than resumes with white-sounding names.

# 3. Compute margin of error, confidence interval, and p-value.

In [34]:
#margin of error

totblk = len(data[data.race == 'b']) #total black resumes
totwht = len(data[data.race == 'w']) #total white resumes
totblk, totwht

(2435, 2435)

In [35]:
# number of callbacks for black-sounding names
callblk = sum(data[data.race=='b'].call)
#number of call backs for white-sounding names
callwht = sum(data[data.race=='w'].call)
callwht, callblk

(235.0, 157.0)

In [36]:
xb = callblk/totblk #sample mean of black-sounding names
xw = callwht/totwht #sample mean of white-sounding names
xb, xw

(0.064476386036960986, 0.096509240246406572)

In [37]:
#variance of black-sounding sample
ob2 = ((totblk-callblk)*((0-xb)**2) + callblk*((1-xb)**2)) / (totblk-1) 
ob = np.sqrt(ob2) #standard deviation of the black sample
#variance of white-sounding sample
ow2 = ((totwht-callwht)*((0-xw)**2) + callwht*((1-xw)**2)) / (totwht-1)
ow = np.sqrt(ow2) #standard Deviation of the white-sounding sample
ob, ow

(0.24565008364706123, 0.29534899800972231)

In [38]:
#standard deviation of the difference of means
odiff =  np.sqrt((ob2/totblk)+(ow2/totwht))
odiff

0.0077849693071591957

In [39]:
#Difference of means
meandiff = xw-xb
meandiff

0.032032854209445585

In [40]:
#p-value
1.65*odiff

0.012845199356812673

z = 1.65 for 95% confidence
There is a 95% CI that the true mean of the difference is within 1.65 std deviations of 0.034 (meandiff).

In [41]:
print 'The 95% CI is that the true mean difference falls between' , meandiff-(1.65*odiff), 'and', meandiff+(1.65*odiff)

The 95% CI is that the true mean difference falls between 0.0191876548526 and 0.0448780535663

### Since the difference of the means is greater than the threshold p-value at 5%, then the Null Hypothesis is rejected. The probability of getting 3.2% as the difference of the means under the Null Hypothesis is less than 5%.

# 4. Write a story describing the statistical significance in the context or the original problem.

### According to the data collected by researchers, there appears to be a statistically significant effect on the number of resumes that recieved call backs with white-sounding names versus resumes with black-sounding names. White-sounding names were found to get call backs 3.2% more often than black-sounding names. The probability that this difference arose from chance is less than 5%.


# 5. Does your analysis mean that race/name is the most important factor in callback success? Why or why not? If not, how would you amend your analysis?

In [42]:
#p-values with 99% confidence:
2.33*odiff

0.018138978485680926

Race/name is an important factor, but it's not necessarily the most important factor. Even at a confidence level of 99%, the results are still more likely caused by an effect than chance. However, since the magnitude of the difference is only 3.2%, it is likely that other factors have a larger affect onc callback. I would run more analyses on other variables (like experience etc) before declaring that race/name is the MOST important factor.